<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/jee
                        http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
                        http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.1.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">
    
    <!-- Add Item Workflow Configuration -->
    <bean p:order="1000" id="blValidateAddRequestActivity" class="kr.brian.study.core.order.service.workflow.add.ValidateAddRequestActivity"/>
    
    <bean id="blAddItemWorkflow" class="kr.brian.study.workflow.SequenceProcessor">
        <property name="processContextFactory">
            <bean class="kr.brian.study.core.order.service.workflow.CartOperationProcessContextFactory"/>
        </property>
        <property name="activities">
            <list>
                <ref bean="blValidateAddRequestActivity" />
            </list>
        </property>
        <property name="defaultErrorHandler">
            <bean class="kr.brian.study.workflow.DefaultErrorHandler">
                <property name="unloggedExceptionClasses">
                    <list>
                        <value>kr.brian.study.core.order.service.workflow.add.InventoryUnavailableException</value>
                    </list>
                </property>
            </bean>
        </property>
    </bean>
       
</beans>
